@import "base";

.content {
	min-height: 100%;
	margin: 0 auto;
	@media @mobile{
		width: 100%;
	}
	@media @tablet{
		width: 100%;
	}
	@media @desktop{
		width: 983px;
	}
}

header {
	padding: 15px 0;
	text-align: center;
	a {
		font-size: 38px;
		color: @lightblue-text;
		text-decoration: none;
		.logo {
			display: inline-block;
			width: 56px;
			height: 56px;
			background: url("../img/logo.png") no-repeat;
			vertical-align: middle;
		}
	}
}

nav {
	margin-bottom: 50px;
	text-align: center;
	.list {
		background-color: @lightblue-menu;
		border-bottom: 4px solid @lightblue-menu-border;
		vertical-align: middle;
	}
	.list li {
		display: inline-block;
		a {
			.link();
			display: block;
			padding: 15px 30px;
			color: @white;
			text-transform: uppercase;
		}
		a.active {
			position: relative;
			&:before, &:after {
				position: absolute;
				content: "";
				width: 0;
				height: 0;
				top: 100%;
				left: 50%;
			}
			&:before {
				margin-left: -9px;
				border-style: solid;
				border-width: 12px 12px 0 12px;
				border-color: @lightblue-menu-border transparent transparent transparent;
			}
			&:after {
				margin-left: -3px;
				border-style: solid;
				border-width: 7px 6px 0 6px;
				border-color: @lightblue-menu transparent transparent transparent;
			}

		}
	}
}

aside {
	float: right;
	width: 30%;
	.message {
		margin-bottom: 25px;
		.warning {
			.asideMessageBullet('!')
		}
		.question {
			.asideMessageBullet('?')
		}
	}
	.message h2 {
		.asideMessageTitle();
	}

	.message p {
		.paragraph();
	}
	.tags {
		a {
			.tag();
		}
	}
}

.posts {
	float: left;
	width: 65%;
	margin: 0 5% 0 0;

	.post {
		margin-bottom: 60px;
		.preview {
			img {
				width: 100%;
			}
			a {
				.link();
				font-size: 20px;
				line-height: 34px;
				color: @gray-text;
			}
		}
	}
	.author {
		.clearfix();
		margin-bottom: 15px;
		padding: 5px 0;
		border-top: 1px solid #E2E5E8;
		border-bottom: 1px solid #E2E5E8;
		time {
			padding: 0 20px 0 25px;
			background: url("../img/clock.png") no-repeat 5px center;
			font-size: 12px;
			line-height: 24px;
			color: @gray-text;
		}
		> a {
			.link();
			padding: 0 0 0 20px;
			background: url("../img/foot.png") no-repeat 0 center;
			font-size: 12px;
			line-height: 24px;
			color: @gray-text;
		}
	}
	p {
		.paragraph();
	}
	.social {
		float: right;
		a {
			display: inline-block;
			width: 20px;
			height: 19px;
			margin: 0 0 0 6px;
			padding: 5px 0 0 30px;
			background: url("../img/icons.png") no-repeat;
			font-size: 12px;
			line-height: 12px;
			color: @white;
			text-align: center;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
			&:first-child {
				margin-left: 0;
			}
		}
		a.facebook {
			background-position: 0 0;
			&:hover {
				background-position: -53px 0px;
			}
		}
		a.google-plus {
			background-position: -4px -28px;
			&:hover {
				background-position: -57px -28px;
			}
			padding-left: 23px;
		}
		a.twitter {
			background-position: 0 -56px;
			&:hover {
				background-position: -53px -56px;
			}
		}
		a.vk {
			background-position: 0 -84px;
			&:hover {
				background-position: -53px -84px;
			}
		}
		a.yandex {
			background-position: -4px -112px;
			&:hover {
				background-position: -57px -112px;
			}
			padding-left: 23px;
		}
	}
}

