/*Breakpoints*/
/*Colors*/
/*General styles*/
html,
body {
	height: 100%;
	min-width: 320px;
}

/*Mixins*/
.content {
	min-height: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.content {
		width: 100%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.content {
		width: 100%;
	}
}

@media screen and (min-width: 1024px) {
	.content {
		width: 983px;
	}
}

header {
	padding: 15px 0;
	text-align: center;
}

header a {
	font-size: 38px;
	color: #6794b7;
	text-decoration: none;
}

header a .logo {
	display: inline-block;
	width: 56px;
	height: 56px;
	background: url("../img/logo.png") no-repeat;
	vertical-align: middle;
}

nav {
	margin-bottom: 50px;
	text-align: center;
}

nav .list {
	background-color: #6b9ad0;
	border-bottom: 4px solid #c6defa;
	vertical-align: middle;
}

nav .list li {
	display: inline-block;
}

nav .list li a {
	text-decoration: none;
	display: block;
	padding: 15px 30px;
	color: #ffffff;
	text-transform: uppercase;
}

nav .list li a:hover {
	text-decoration: underline;
}

nav .list li a.active {
	position: relative;
}

nav .list li a.active:before,
nav .list li a.active:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	top: 100%;
	left: 50%;
}

nav .list li a.active:before {
	margin-left: -9px;
	border-style: solid;
	border-width: 12px 12px 0 12px;
	border-color: #c6defa transparent transparent transparent;
}

nav .list li a.active:after {
	margin-left: -3px;
	border-style: solid;
	border-width: 7px 6px 0 6px;
	border-color: #6b9ad0 transparent transparent transparent;
}

aside {
	float: right;
	width: 30%;
}

aside .message {
	margin-bottom: 25px;
}

aside .message .warning:before {
	display: inline-block;
	width: 25px;
	margin-right: 12px;
	padding: 5px 0;
	background-color: #6794b7;
	content: '!';
	color: #ffffff;
	font-size: 15px;
	text-align: center;
}

aside .message .question:before {
	display: inline-block;
	width: 25px;
	margin-right: 12px;
	padding: 5px 0;
	background-color: #6794b7;
	content: '?';
	color: #ffffff;
	font-size: 15px;
	text-align: center;
}

aside .message h2 {
	border-bottom: 4px solid #6794b7;
	color: #6794b7;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 0 15px 0;
}

aside .message p {
	margin: 0 0 10px 0;
	line-height: 16px;
	font-size: 12px;
	color: #69747c;
}

aside .tags a {
	color: #ffffff;
	font-size: 12px;
	padding: 3px 24px 3px 12px;
	margin: 0 4px 6px 0;
	text-decoration: none;
	display: inline-block;
	background: #6794b7 url("../img/tag-bullet.jpg") no-repeat right 0;
}

aside .tags a:hover {
	background-color: #b2d4ec;
	background-position: right -22px;
}

.posts {
	float: left;
	width: 65%;
	margin: 0 5% 0 0;
}

.posts .post {
	margin-bottom: 60px;
}

.posts .post .preview img {
	width: 100%;
}

.posts .post .preview a {
	text-decoration: none;
	font-size: 20px;
	line-height: 34px;
	color: #69747c;
}

.posts .post .preview a:hover {
	text-decoration: underline;
}

.posts .author {
	margin-bottom: 15px;
	padding: 5px 0;
	border-top: 1px solid #E2E5E8;
	border-bottom: 1px solid #E2E5E8;
}

.posts .author:after {
	display: block;
	height: 0;
	clear: both;
	content: "";
	visibility: hidden;
}

.posts .author time {
	padding: 0 20px 0 25px;
	background: url("../img/clock.png") no-repeat 5px center;
	font-size: 12px;
	line-height: 24px;
	color: #69747c;
}

.posts .author > a {
	text-decoration: none;
	padding: 0 0 0 20px;
	background: url("../img/foot.png") no-repeat 0 center;
	font-size: 12px;
	line-height: 24px;
	color: #69747c;
}

.posts .author > a:hover {
	text-decoration: underline;
}

.posts p {
	margin: 0 0 10px 0;
	line-height: 16px;
	font-size: 12px;
	color: #69747c;
}

.posts .social {
	float: right;
}

.posts .social a {
	display: inline-block;
	width: 20px;
	height: 19px;
	margin: 0 0 0 6px;
	padding: 5px 0 0 30px;
	background: url("../img/icons.png") no-repeat;
	font-size: 12px;
	line-height: 12px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}

.posts .social a:hover {
	text-decoration: none;
}

.posts .social a:first-child {
	margin-left: 0;
}

.posts .social a.facebook {
	background-position: 0 0;
}

.posts .social a.facebook:hover {
	background-position: -53px 0px;
}

.posts .social a.google-plus {
	background-position: -4px -28px;
	padding-left: 23px;
}

.posts .social a.google-plus:hover {
	background-position: -57px -28px;
}

.posts .social a.twitter {
	background-position: 0 -56px;
}

.posts .social a.twitter:hover {
	background-position: -53px -56px;
}

.posts .social a.vk {
	background-position: 0 -84px;
}

.posts .social a.vk:hover {
	background-position: -53px -84px;
}

.posts .social a.yandex {
	background-position: -4px -112px;
	padding-left: 23px;
}

.posts .social a.yandex:hover {
	background-position: -57px -112px;
}
